html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body{
    margin:0;
    background: #666;  /* fallback for old browsers */
}

#app{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
}

.btn{
    background: transparent;
    color:#fff;
    border:2px solid #fff;
    padding: 8px 17px;
    border-radius: 10px;
    font-size: 1.1em;
    cursor: pointer;
	margin-right: 20px;
}

.modal{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    background: rgba(0,0,0, .24);
}

.modal__okno{
    background: #f0f0f0;
    width:500px;
    border-radius: 16px;
    padding: 20px;
    -webkit-box-shadow: -10px 10px 48px -16px rgba(0,0,0,0.44);
    -moz-box-shadow: -10px 10px 48px -16px rgba(0,0,0,0.44);
    box-shadow: -10px 10px 48px -16px rgba(0,0,0,0.44);
}

.okno__naglowek{
    margin: 0;
    font-size: 2.1em;
}

.okno__tresc{
    color: #333;
    line-height: 1.32;
}

input{
    background:transparent;
    border: 2px solid #fff;
    border-radius: 15px;
    color:#fff;
    font-size: 1.2em;
    padding: 7px 14px;
}

input[type='checkbox']{
    width:25px;
    height:25px;
}

label{
    display:flex;
    align-items:center;
    padding: 10px 0;
}

.result{
    background: rgba(0,0,0,.3);
    padding:20px;
    border-radius:20px;
    position:relative;
}

.progressbar{
    //margin-top:20px;
    width:300px;
    height: 40px;
    border: 2px solid #000;
    position:relative;
    overflow:hidden;
}

.progressbar__bar{
    height:100%;
    position:absolute;
    left:0;
    bottom:0;
    transition:.5s;
}
